* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
h2 {
  color: #656b67;
  text-transform: uppercase;
}
li {
  list-style: none;
}

.navbar-menu__item {
  color: #656b67;
  text-transform: uppercase;
  margin-left: 20px;
}
section {
  margin-bottom: 80px;
}
.about-me {
  padding-top: 10px;
  background-color: #656b67;
  padding-bottom: 40px;
}

.about-me__title {
  color: #ffffff;
}
.about-me__block {
  display: flex;
}

.about-me__photo {
  max-width: 335px;
}

.about-me__text {
  padding-left: 30px;
  font-size: 22px;
  margin-top: 0;
}

.services-blocks {
  display: flex;
  justify-content: space-between;
}

.service-block {
  background-color: #ffffff;
  width: 200px;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  text-align: center;
  border: 2px solid #15917e;
}

.service-block__photo {
  width: 130px;
  margin: 0 auto;
}

.service-block__title {
  color: #15917e;
  font-size: 17px;
  margin: 0 auto;
}

.service-block__button {
  margin: 0 auto;
  margin-top: 15px;
  background-color: #6fcfc1;
  outline: none;
  border: none;
  width: 120px;
  border-radius: 4px;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  color: #ffffff;
}

.achievements {
  background-color: #656b67;
  padding-top: 10px;
  padding-bottom: 40px;
}

.achievements-title {
  color: #ffffff;
}
.achievements-block {
  display: flex;
  justify-content: space-between;
}
.achievements-block__photo {
  width: 220px;
}

.application-title {
  text-align: center;
}

.application__form {
  text-align: center;
}

.application-input {
  height: 50px;
  width: 240px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid #15917e;
}

.input-button {
  height: 50px;
  width: 150px;
  border-radius: 20px;
  background-color: #6fcfc1;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

footer {
  background-color: #656b67;
  padding-top: 10px;
  padding-bottom: 40px;
}
